.footer-basic {
  padding: 40px 60px;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.logo {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.logo img {
  width: 50px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2em;
}

::-webkit-scrollbar {
  width: 0.9rem;
  background-color: tomato;
}

::-webkit-scrollbar-thumb {
  background-color: teal;
}

.scrollTotop {
  display: none;
  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 3;
}

.scrollTotop .brand {
  height: 3em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.scrollTotop .brand .logos {
  background-color: tomato;
  padding: 0.5em 1rem;
  border-radius: 0.5em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.scrollTotop .brand h3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  color: black;
  font-weight: bold;
}

h4 {
  letter-spacing: .1em;
  -webkit-box-shadow: 0px 2px 5px 0px  tomato;
          box-shadow: 0px 2px 5px 0px  tomato;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
  background-color: #5d4954;
  font-family: 'Poppins', sans-serif;
}

.logo {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 35%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #e2e2e2;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.nav-links a:hover {
  -webkit-text-decoration: underline pink;
          text-decoration: underline pink;
  color: coral;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #5d4954;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: .3em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-40deg) translate(-5px, 6px);
          transform: rotate(-40deg) translate(-5px, 6px);
}

.toggle .line2 {
  -webkit-transform: rotate(90deg) translate(0px, 0px);
          transform: rotate(90deg) translate(0px, 0px);
}

.toggle .line3 {
  -webkit-transform: rotate(35deg) translate(-5px, -6px);
          transform: rotate(35deg) translate(-5px, -6px);
}
/*# sourceMappingURL=style.css.map */